@import 'assets/scss/_base.scss';


.contact {
  padding: 50px 24px;
  height: 75vh;
  height: 75dvh;


  &__title {
    color: $primary-white;
    padding-bottom: 10px;
    font-size: 32px;
    border-bottom: .5px solid $primary-blue;
    text-align: initial;
  }

  &__text {
    color: $primary-white;
    font-size: 24px;
    padding: 48px 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-item {
      list-style: none;
      font-weight: 500;
      font-size: 22px;

      & a {
        color: $primary-white;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        gap: 8px;

      }
    }
  }
}


@media screen and (min-width: 768px) {
  .contact {
    padding: 72px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 72px 48px;
    text-align: center;
    height: 80vh;
    height: 80dvh;

    &__text {
      font-size: 32px;
      padding: 128px 0 64px;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 26px;

      &-item {
        font-size: 28px;

        & a:hover {
          color: $cinza-dark-4;
        }
      }
    }
  }
}
