@import 'assets/scss/_base.scss';


.contact {
  background-color: $cinza-dark-1;
  padding: 128px 24px 30px;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");



  &__title {
    color: $primary-white;
    padding-bottom: 10px;
    font-size: 32px;
    border-bottom: .5px solid $primary-blue;
    text-align: initial;
  }

  &__text {
    color: $primary-white;
    font-size: 24px;
    padding: 48px 0;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-item {
      list-style: none;
      font-weight: 500;
      font-size: 22px;

      & a {
        color: $primary-white;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        gap: 8px;

      }
    }
  }
}


@media screen and (min-width: 768px) {
  .contact {
    padding: 150px 32px 32px;
    height: 88vh;
    height: 88dvh;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 150px 48px 40px;
    height: 92vh;
    height: 92dvh;
    text-align: center;


    &__text {
      font-size: 32px;
      padding: 128px 0 64px;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 26px;

      &-item {
        font-size: 28px;

        & a:hover {
          color: $cinza-dark-4;
        }
      }
    }
  }
}

