@import 'assets/scss/_base.scss';

@media screen and (min-width: 0) {
  .contact {
    background-color: $cinza-dark-1;
    padding: 48px 24px;

    &__title {
      color: $branco-principal;
      padding-bottom: 10px;
      font-size: 32px;
      border-bottom: .5px solid #24bad5;
      text-align: initial;
    }

    &__text {
      color: $branco-principal;
      font-size: 24px;
      padding: 48px 0;
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-item {
        list-style: none;
        font-weight: 500;
        font-size: 22px;

        & a {
          color: $branco-principal;
          text-decoration: none;
          display: flex;
          align-items: flex-start;
          gap: 8px;

        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .contact {
    padding: 48px;
    height: 80vh;
    text-align: center;


    &__text {
      font-size: 32px;
      padding: 128px 0 64px;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 26px;

      &-item {
        font-size: 28px;

        & a:hover {
          text-decoration: underline;
          color: $cinza-dark-4;
        }
      }
    }
  }
}

