<section class="about">
  <img class="about__img" src="assets/img/profile.jpg" alt="foto de Ezequiel Otoni">
  <div class="container">
    <h1>Dev Full Stack<span><b>EZEQUIEL</b> OTONI</span></h1>
    <section class="about__info">
      <p class="about__info-text">Olá. Sou Ezequiel Otoni, estudante de Engenharia de Software e desenvolvedor Full
        Stack.
        Faço aplicações web responsivas com TypeScript, Angular e Scss e construo APIs REST com Java, Spring Boot,
        NestJs
        e Node.js, usando bancos como Oracle, PostgreSQL e MongoDb.<br>Estou aberto a novas oportunidades profissionais
        e a
        trabalhos voluntários. Entre em contato!</p>
      <div class="about__info-btn">
        <a href="assets/curriculo/curriculo.pdf" target="_blank" download>
          <i class="fi fi-ss-file-download"></i> Currículo
        </a>
        <a target="_blank" href="https://wa.me/5533998442106"><i class="fi fi-brands-whatsapp"></i> Contato</a>
      </div>
    </section>
  </div>
</section>
