@import 'assets/scss/_base.scss';


.about {
  background-color: $cinza-dark-1;
  padding: 128px 24px 76px;
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");


  & h1 {
    color: $primary-white;
    padding-bottom: 10px;
    font-size: 32px;
    border-bottom: .5px solid $primary-blue;
    text-align: initial;

  }

  .container {
    padding-top: 30px;
  }

  &__img {
    display: block;
    height: 200px;
    margin: 0 auto;
    border-radius: 150px;
    border: 3px solid $primary-blue;
  }

  &__info {

    &-text {
      text-align: initial;
      color: $primary-white;
      padding: 24px 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;

      & a {
        color: inherit;
      }
    }

    &-btn {

      a {

        border: 2px solid $primary-blue;
        background-color: $cinza-dark-2;
        width: 150px;
        height: 48px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        color: $primary-white;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin-bottom: 10px;

        i {
          display: flex;
        }

        &:hover {
          cursor: pointer;
          background-color: $cinza-dark-3;
        }
      }
    }
  }
}


@media screen and (min-width: 768px) {
  .about {
    padding: 150px 32px 40px;

    .container {
      display: flex;
      align-items: center;

    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 60%;

      &-text {
        padding: 0 0 20px;
      }

      &-btn {
        display: flex;
        gap: 10px;
      }
    }

  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 150px 48px 40px;


    .container {
      flex-direction: row-reverse;
      padding-top: 50px;
    }

    &__info {
      width: 55%;

      &-text {
        line-height: 32px;
        font-size: 22px;
      }

      &-btn {
        justify-content: start;
        gap: 16px;
      }
    }

    &__img {
      height: 300px;
    }
  }
}
