<section class="about">
  <img class="about__img" src="assets/img/foto2.png" alt="foto de Ezequiel Otoni">
  <div class="about__info">
    <p class="about__info-text">Olá!<br> Meu nome é Ezequiel Otoni e sou desenvolvedor Front-End há dois anos. Faço aplicações web responsivas com JavaScript, Angular e Sass com foco em acessibilidade.<br>Também trabalho com NodeJs, Express, MongoDb, Sequelize, Typescript, Bootstrap e Tailwind.<br>Estou aberto a novas oportunidades profissionais e à trabalhos voluntários. Entre em <a href="#">contato!</a></p>
    <button class="about__info-btn">Baixar Currículo</button>
  </div>
</section>
