<section class="about">
  <h1>Sobre</h1>
  <div class="container">
    <img class="about__img" src="assets/img/foto2.png" alt="foto de Ezequiel Otoni">
    <section class="about__info">
      <p class="about__info-text">Olá!<br> Meu nome é Ezequiel Otoni e sou desenvolvedor Front-End há dois anos. Faço aplicações web responsivas com TypeScript, Angular e Scss com foco em acessibilidade.<br>Também trabalho com NodeJs, Express, MongoDb, NestJs, Bootstrap e Tailwind.<br>Estou aberto a novas oportunidades profissionais e à trabalhos voluntários. Entre em contato!</p>
      <div class="about__info-btn">
        <a href="assets/curriculo/Ezequiel_OtoniSilvaFreire_Currículo.pdf" target="_blank" download>
          <i class="fi fi-ss-file-download"></i> Currículo
        </a>
        <a href="https://wa.me/5533998442106"><i class="fi fi-brands-whatsapp"></i> Me contrate</a>
      </div>
    </section>
  </div>
</section>
