@import 'assets/scss/_base.scss';

@media screen and (min-width: 0) {
  .footer {
    color: $primary-white;
    text-align: center;
    padding: 40px 0;


    &__text {
      font-size: 13px;
      font-weight: 400;

      &:first-of-type {
        padding-bottom: 5px;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    padding: 24px 100px;
    justify-content: space-between;

    &__text {

      &:first-of-type {
        padding-bottom: 0;
      }
    }
  }
}
