@import 'assets/scss/_base.scss';

@media screen and (min-width: 0) {
  .footer {
    background-color: $cinza-dark-1;
    color: $branco-principal;
    text-align: center;
    padding: 80px 0 40px;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");


    &__text {
      font-size: 13px;
      font-weight: 400;

      &:first-of-type {
        padding-bottom: 5px;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    padding: 24px 48px;
    justify-content: space-between;

    &__text {

      &:first-of-type {
        padding-bottom: 0;
      }
    }
  }
}
