<header class="header">
  <div class="header__menu-hamb">
    <input type="checkbox" id="checkbox" (change)="toggleShowUl()"  class="checkbox visuallyHidden">
    <label for="checkbox">
        <div class="hamburger">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>
  </div>
  <span class="material-icons">brightness_4</span>
  <ul class="header__list" [@slideInOut]="animationState ? 'in' : 'out' ">
    <li class="header__list-item"><a href="#">Sobre mim</a></li>
    <li class="header__list-item"><a href="#">Projetos</a></li>
    <li class="header__list-item"><a href="#">Contato</a></li>
  </ul>
</header>
