<header class="header">
  <div class="header__menu-hamb">
    <input type="checkbox" id="checkbox" [checked]="showBtnClose" (change)="toggleShowUl()" class="checkbox">
    <label for="checkbox">
        <div class="hamburger">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>
  </div>
  <ul class="header__list" [@slideInOut]="animationState ? 'in' : 'out' ">
    <li class="header__list-item"><a (click)="goTo('#about')">Sobre</a></li>
    <li class="header__list-item"><a (click)="goTo('#projects')">Projetos</a></li>
    <li class="header__list-item"><a (click)="goTo('#contact')">Contato</a></li>
  </ul>
</header>
