@media screen and (min-width:0) {

  .header {
    padding: 32px 24px;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu-hamb {

      .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px; width: 1px;
        margin: -1px; padding: 0; border: 0;
      }

      .hamburger {
          margin: 0 auto;
          width: 30px;
          height: 30px;
          position: relative;
          padding: 15px 0;
      }

      .bar {
          padding: 0;
          width: 35px;
          height: 4px;
          background-color: #fff;
          display: block;
          border-radius: 4px;
          transition: all 0.4s ease-in-out;
          position: absolute;
      }

      .bar1 {
          top: 6px;
      }

      .bar2,
      .bar3 {
          top: 14.5px;
      }

      .bar4 {
          bottom: 2px;
      }

      .checkbox:checked + label > .hamburger > .bar1{
        transform: rotate(45deg);
        transform-origin: 12%;
        width: 33px
      }

      .checkbox:checked + label > .hamburger > .bar2 {
          transform: translateX(-40px);
          background-color: transparent;
      }

      .checkbox:checked + label > .hamburger > .bar3 {
          transform: translateX(40px);
          background-color: transparent;
      }

      .checkbox:checked + label > .hamburger > .bar4 {
          transform-origin: 12%;
          transform: rotate(-45deg);
          width: 33px;
      }
    }


    .material-icons {
      // color: #008000;
    }

    &__list {
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: absolute;
      left: 0;
      top: 98px;
      width: 100vw;
      padding: 32px;
      background-color: aquamarine;

      &-item {
        padding: 8px 0;
        border-bottom: 1px solid #008080;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {

    flex-direction: row-reverse;
    padding: 32px;

    &__menu-hamb {
      display: none;
    }

    &__list {
      max-height: unset;
      opacity: unset;
      visibility: unset;
      flex-direction: row;
      position: unset;
      background-color: unset;
      padding: 0;
      gap: 48px;

      &-item {
        border-bottom: none;
      }
    }
  }
}
