<header class="header">
  <div class="header__menu-hamb">
    <input type="checkbox" id="checkbox" [checked]="showBtnClose" (change)="toggleShowUl()" class="checkbox">
    <label for="checkbox">
        <div class="hamburger">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
            <span class="bar bar4"></span>
        </div>
    </label>
  </div>
  <div class="header__menu-desktop">
    <span>EZEQUIEL OTONI</span>
    <nav>
      <ul class="header__list" [@slideInOut]="animationState ? 'in' : 'out' ">
        <li class="header__list-item"><a (click)="goTo('about')" routerLink="about" routerLinkActive="link-highlighted">Sobre</a></li>
        <li class="header__list-item"><a (click)="goTo('projects')" routerLink="projects" routerLinkActive="link-highlighted">Projetos</a></li>
        <li class="header__list-item"><a (click)="goTo('contact')" routerLink="contact" routerLinkActive="link-highlighted">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
