@import 'assets/scss/_base.scss';

@media screen and (min-width: 0) {

  .projects {
    background-color: $cinza-escuro;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 32px 24px;

    &__title {
      color: $branco-principal;
      padding-bottom: 10px;
      font-size: 32px;
    }

    &__card {
      width: 300px;
      margin: 0 auto;
      background-color: $branco-principal;
      border-radius: 15px;
      box-shadow: rgba(240, 233, 233, 0.711) 0px 5px 15px;

      &-img {
        width: 300px;
        height: 200px;
        border-radius: 15px 15px 0 0;
      }

      &-description {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $cinza-escuro;

        &-title {
          font-size: 20px;
          & a {
            color: $cinza-escuro;
          }
        }

        &-text {
          font-size: 18px;
          font-weight: 500;
        }

        &-subtitle {
          font-size: 18px;
        }

        &-list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &-item {
            font-weight: 500;
            list-style: none;
          }
        }
      }
    }
  }
}
