<section class="projects">
  <h1 class="projects__title">Projetos</h1>
  <div class="projects__cards">
    <div class="projects__card">
      <img src="assets/img/codechela.png" alt="Projeto codechela" class="projects__card-img">
      <div class="projects__card-description">
        <h3 class="projects__card-description-title">Projeto CodeChella</h3>
        <p class="projects__card-description-text">Projeto desenvolvido no Alura Challenge que simula um site de um festival de músicas.</p>
        <ul class="projects__card-description-list">
          <li class="projects__card-description-list-item">- HTML</li>
          <li class="projects__card-description-list-item">- Sass</li>
          <li class="projects__card-description-list-item">- JavaScript</li>
        </ul>
      </div>
      <div class="projects__card-buttons">
        <a href="https://code-chella-alpha.vercel.app/" class="btn"><i class="fi fi-brands-github"></i> Visit site</a>
        <a href="#" class="btn"><i class="fi fi-br-link-alt"></i> Github</a>
      </div>
    </div>
    <div class="projects__card">
      <img src="assets/img/alcool-gas.png" alt="Projeto Alcool-Gasolina" class="projects__card-img">
      <div class="projects__card-description">
        <h3 class="projects__card-description-title">Projeto Alcool-Gas</h3>
        <p class="projects__card-description-text">Aplicação que calcula qual combústivel tem o melhor custo benefício.</p>
        <ul class="projects__card-description-list">
          <li class="projects__card-description-list-item">- HTML</li>
          <li class="projects__card-description-list-item">- Bootstrap</li>
          <li class="projects__card-description-list-item">- JavaScript</li>
        </ul>
      </div>
      <div class="projects__card-buttons">
        <a href="https://alcool-gas.vercel.app/" class="btn"><i class="fi fi-brands-github"></i> Visit site</a>
        <a href="#" class="btn"><i class="fi fi-br-link-alt"></i> Github</a>
      </div>
    </div>
    <div class="projects__card">
      <img src="assets/img/alura-geek.png" alt="Projeto Alura Geek" class="projects__card-img">
      <div class="projects__card-description">
        <h3 class="projects__card-description-title">Projeto Alura-Geek</h3>
        <p class="projects__card-description-text">Projeto desenvolvido no Alura Challenge que simula um ecommerce de produtos geek.</p>
        <ul class="projects__card-description-list">
          <li class="projects__card-description-list-item">- HTML</li>
          <li class="projects__card-description-list-item">- Sass</li>
          <li class="projects__card-description-list-item">- JavaScript</li>
        </ul>
      </div>
      <div class="projects__card-buttons">
        <a href="https://alura-geek-two.vercel.app/" class="btn"><i class="fi fi-brands-github"></i> Visit site</a>
        <a href="#" class="btn"><i class="fi fi-br-link-alt"></i> Github</a>
      </div>
    </div>
  </div>

</section>
