@import 'assets/scss/_base.scss';

@media screen and (min-width: 0) {

  .projects {
    background-color: $cinza-dark-1;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    border-bottom: 1px solid $branco-principal;

    &__title {
      color: $branco-principal;
      padding-bottom: 30px;
      font-size: 32px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__card {
      width: 300px;
      margin: 0 auto;
      background-color: $cinza-dark-2;
      border-radius: 10px;
      box-shadow: rgba(240, 233, 233, 0.711) 0px 5px 20px;

      &-img {
        width: 300px;
        height: 200px;
        border-radius: 10px 10px 0 0;
      }

      &-description {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $branco-principal;

        &-title {
          font-size: 22px;
        }

        &-text {
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          color: $cinza-dark-4;
        }

        &-subtitle {
          font-size: 18px;
        }

        &-list {
          display: flex;
          flex-direction: column;
          gap: 5px;

          &-item {
            font-weight: 500;
            list-style: none;
          }
        }
      }

      &-buttons {
        padding: 0 15px 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & a {
          color: $branco-principal;
          font-weight: 700;
          text-decoration: none;
          padding: 10px 15px;
          border: 2px solid;
          border-radius: 5px;
          display: flex;
          gap: 10px;
          align-items: flex-start;

          &:hover {
            background-color: $cinza-dark-3;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .projects {

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 624px;
      margin: 0 auto;
      gap: 24px;
    }
  }
}

@media screen and (min-width: 1024px) {

  .projects {

    padding: 48px;

    &__cards {
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;
      width: 960px;
    }
  }
}
