<section class="projects">
  <h1 class="projects__title">Projetos</h1>

  <div class="projects__card">
    <a href="https://code-chella-alpha.vercel.app/"><img src="assets/img/codechela.png" alt="Projeto codechela" class="projects__card-img"></a>
    <div class="projects__card-description">
      <h3 class="projects__card-description-title">Projeto <a href="https://code-chella-alpha.vercel.app/">CodeChella</a></h3>
      <p class="projects__card-description-text">Projeto desenvolvido no Alura Challenge que simula um site de um festival de músicas.</p>
      <h4 class="projects__card-description-subtitle">Tecnologias utilizadas</h4>
      <ul class="projects__card-description-list">
        <li class="projects__card-description-list-item">HTML</li>
        <li class="projects__card-description-list-item">Sass</li>
        <li class="projects__card-description-list-item">JavaScript</li>
      </ul>
    </div>
  </div>
  <div class="projects__card">
    <a href="https://alcool-gas.vercel.app/"><img src="assets/img/alcool-gas.png" alt="Projeto Alcool-Gasolina" class="projects__card-img"></a>
    <div class="projects__card-description">
      <h3 class="projects__card-description-title">Projeto <a href="https://alcool-gas.vercel.app/">Alcool-Gas</a></h3>
      <p class="projects__card-description-text">Aplicação que calcula qual combústivel tem o melhor custo benefício.</p>
      <h4 class="projects__card-description-subtitle">Tecnologias utilizadas</h4>
      <ul class="projects__card-description-list">
        <li class="projects__card-description-list-item">HTML</li>
        <li class="projects__card-description-list-item">Bootstrap</li>
        <li class="projects__card-description-list-item">JavaScript</li>
      </ul>
    </div>
  </div>
  <div class="projects__card">
    <a href="https://alura-geek-two.vercel.app/"><img src="assets/img/alura-geek.png" alt="Projeto Alura Geek" class="projects__card-img"></a>
    <div class="projects__card-description">
      <h3 class="projects__card-description-title">Projeto <a href="https://alura-geek-two.vercel.app/">Alura-Geek</a></h3>
      <p class="projects__card-description-text">Projeto desenvolvido no Alura Challenge que simula um ecommerce de produtos geek.</p>
      <h4 class="projects__card-description-subtitle">Tecnologias utilizadas</h4>
      <ul class="projects__card-description-list">
        <li class="projects__card-description-list-item">HTML</li>
        <li class="projects__card-description-list-item">Sass</li>
        <li class="projects__card-description-list-item">JavaScript</li>
      </ul>
    </div>
  </div>
</section>
